.button {
  background-color: #1da1f2;
  border-radius: 10px;
  font-weight: bold;
  width: 100px;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

#xeasy {
  display: flex;
  margin-bottom: 10px;
  position: absolute;
  top: 12vh;
  right: 9vw;
}
